{% extends 'base.html' %}

{% block body %}

<ul>    
    <li><a class="active" href="http://127.0.0.1:5000/">CODE</a></li>
    <li><a href="http://127.0.0.1:5000/lineage.html">LINEAGE</a></li>
    <li><a href="#about">ABOUT</a></li>
  </ul>

<div class="container">
   
    <img alt="code" src="{{ url_for('static', filename='images/sample.png') }}" style="margin-top: 20px;">

    <button class="button"><a href="http://127.0.0.1:5000/lineage.html" style="color: wheat;">GENERATE</a></button>
{% endblock %}
