{% extends 'base.html' %}

{% block body %}

<ul>
    <li><a href="http://127.0.0.1:5000/">CODE</a></li>
    <li><a class="active" href="http://127.0.0.1:5000/lineage.html">LINEAGE</a></li>
    <li><a href="#about">ABOUT</a></li>
  </ul>
<div class="container">
        <ct-visualization id="tree-container"></ct-visualization>
        <script>
            d3.json("{{ url_for('static', filename='data-example.json') }}", function(error, json) {
                treeBoxes('', json.tree);
            });
        </script>
        <button class="button"><a href="http://127.0.0.1:5000/" style="color: wheat; float: left;">BACK</a></button>
    </div>


{% endblock %}
    